@charset "UTF-8";
@font-face {
	font-family: 'M PLUS 2 Light';
	src: url(../font/Mplus2-Light.ttf);
}
body,h1,h2,h3,h4,ul,li,p,dl,dt,dd,div {
	margin: 0;
	padding: 0;
}
main{
    display: block;
}
img {
	bottom: none;
	vertical-align: bottom;
	user-select: none;
}
li {
	list-style-type: none;
}